{% extends "layout.html" %}
{% block body %}
<!---728x90--->


<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="w3layouts_breadcrumbs_left">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>/</span></li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact</li>
				</ul>
			</div>
			<div class="w3layouts_breadcrumbs_right">
				<h2>Contact Us</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!---728x90--->

<!-- contact -->
	<div class="welcome">
		<div class="container">
			<h3 class="agileits_w3layouts_head">Get in<span> touch</span> with us</h3>
			<div class="w3_agile_image">
				<img src="{{ url_for('static', filename='images/1.png') }}" alt=" " class="img-responsive" />
			</div>
			<p style="font-size: 18px" class="agile_para">“Alone we can do so little. Together we can do so much.” <br>– Helen Keller</p>
<!---728x90--->

			<div class="w3ls_news_grids">
				<div class="col-md-8 w3_agile_mail_left">
					<div class="agileits_mail_grid_right1 agile_mail_grid_right1">
						<form action="/contact" method="post" novalidate>
							<span>
								<i>Name</i>
								<input type="text" name="name" id="name" placeholder="Name" required data-validation-required-message="Please enter your name.">
							</span>
							<span>
								<i>Email</i>
								<input type="email" name="email" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
							</span>
							<span>
								<i>Subject</i>
								<input type="text" name="subject" id="subject" placeholder="Subject" required data-validation-required-message="Please enter a subject.">
							</span>
							<span>
								<i>Message</i>
								<textarea placeholder="Message" name="message" id="message" required data-validation-required-message="Please enter a message."></textarea>
							</span>
							<div class="w3_submit">
								<input type="submit" value="Submit Now">
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4 w3_agile_mail_right">
					<div class="w3_agileits_mail_right_grid">
						<h4>Hope you take benefit of this portal</h4>
						<p></p>
						<h5>Follow Us On</h5>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
						<div class="w3_agileits_mail_right_grid_pos">
							<img src="{{ url_for('static', filename='images/12.png') }}" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="w3_agileits_mail_right_grid_main">
						<div class="w3layouts_mail_grid_left">
							<div class="w3layouts_mail_grid_left1 hvr-radial-out">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							</div>
							<div class="w3layouts_mail_grid_left2">
								<h3>Mail Us</h3>
								<a href="mailto:sankritikushik23@gmail.com">sankritikushik23@gmail.com</a>
								
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3layouts_mail_grid_left">
							<div class="w3layouts_mail_grid_left1 hvr-radial-out">
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							</div>
							<div class="w3layouts_mail_grid_left2">
								<h3>Address</h3>
								<p>Mumbai, India.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3layouts_mail_grid_left">
							<div class="w3layouts_mail_grid_left1 hvr-radial-out">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							</div>
							<div class="w3layouts_mail_grid_left2">
								<h3>Phone</h3>
								<p>1800115526</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
<!-- //contact -->

{% endblock %}	
