{% extends "layout.html" %}
{% block body %}

<div class="breadcrumbs">
	<div class="container">
		<div class="w3layouts_breadcrumbs_left">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>/</span></li>
				<li><i class="fa fa-cogs" aria-hidden="true"></i>Form</li>
			</ul>
		</div>
		<div class="w3layouts_breadcrumbs_right">
			<h2>Form</h2>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<div class="welcome">
	<h3 class="agileits_w3layouts_head">Results</h3>
	<div class="w3_agile_image">
		<img src="{{ url_for('static', filename='images/1.png') }}" alt=" " class="img-responsive" />
	</div>
</div>

{% for i in range(x) %}
    <a href="/scheme/{{r[i].slug}}" target="_blank"><div class="w3_agile_services_grids">
        <div class="col-md-12 w3_agile_services_grid">
            <div class="col-md-2 col-xs-4 w3_agile_services_grid_left">
                <div class="agile_services_grid_left1 hvr-radial-out">
                    <img src="{{ url_for('static', filename='images/13.png') }}" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="col-xs-8 w3_agile_services_grid_right">
                <h4>{{r[i].name}}</h4>
                <p>{{r[i].des[0:250]}}...   Read more</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div></a>
{% endfor %}


	<br>
	<br>
{% endblock %}
